h1{
    color:silver;
    background: rgb(214, 98, 3);
    display: inline;
    padding: 0px 50px 0px 50px;
}
ul{
    background-color: gray;
    list-style-type: none;
    color: darksalmon;
    font-size: 30px;
    text-align: center;
    
}
li{
    display: inline-block;
    padding: 0px 0px 0px 150px;
}